Question 1:

In [6]:
days = {"monday":36 , "tuesday":24 , "wednesday":37 , "thursday":22 , "friday":28 , "saturday":22 , "sunday":25}

for key in days:
    #codes removed delebrately

monday
wednesday
friday

Question 2:

In [2]:
age = int(input("What is your age: "))

if age < 13:
    print("Child")
    
    #codes removed delebrately

What is your age: 26
Adult

Question 3:

In [3]:
#Part a:

for i in range(-20, 29, 3):
    print (i)

-20
-17
-14
-11
-8
-5
-2
1
4
7
10
13
16
19
22
25
28

In [4]:
#Part b:

for i in range (110 , 129 , 2):
    print(i)

110
112
114
116
118
120
122
124
126
128

In [5]:
#Part c:

for i in range(10,0,-1):
    print (i)

10
9
8
7
6
5
4
3
2
1

In [6]:
#Part d:

for i in range (-20,-30,-3):
    print(i)

-20
-23
-26
-29

Question 4:

In [25]:
student = {"Mathematics" : 78 , "Programming" : 82 , "Biology" : 65 , "Physics" : 80 , "Chemistry" : 50 }

grades = {"A" : range(90,101) , "B+" : range(80,90) , "B" : range(60,80) , "C" : range(40,60) , "F" : range(0,40)}

#assigning grades to scores:

for subject in student:
    
    for key in grades:               
        
        if student[subject] in grades[key]:
            student[subject] = [student[subject] , key]
            break
            

print(student)             



student = {"Mathematics" : 78 , "Programming" : 82 , "Biology" : 65 , "Physics" : 80 , "Chemistry" : 50 }

total_score = 0

        #code removed delebrately

{'Mathematics': [78, 'B'], 'Programming': [82, 'B+'], 'Biology': [65, 'B'], 'Physics': [80, 'B+'], 'Chemistry': [50, 'C']}
355
71.0

Question 5:

In [26]:
x = 0

for i in range(2,51,2):
    x += i
print(x)

650