Q1) Create a variable called num and give it a value of 100. Increment its value by 10. Then divide it by 3. Print out final num.

In [3]:
num = 100
num += 10
num /= 3

print(num)

36.666666666666664

Q2) Create a string called my_str and give it the value "Python Basics". 

1) Create another variable and store the first two letters and the last two letters of my_str in it. Print it.

2) Create another variable and store letters 3 to 8 (both inclusive) of my_str in it. Print it.  

3) removed delebrately

4) Print my_str from the first letter up till the 9 (not inclusive) in steps of 2

5) removed delebrately

In [55]:
my_str = "Python Basics"
print(len(my_str))

Q1 = my_str[0:2] + my_str[11:13]
print(Q1)

#removed delebrately

#removed delebrately

Q4 = print(my_str[:9:2])

# removed delebrately

13
Pycs
thon Ba
scisaB nohtyP
Pto a
csBnhy

In [ ]:
#removed delebrately

In [60]:
word = "read"

verb = word + "ing"
print(verb)

reading

Q4) For the following string:

1) Find out the index of the word "learn".

2) Create a new string where you replace the word Python with the word Javascript. Print out the new string.

In [74]:
sentence = "I am excited to learn Python"

print(sentence.index("learn"))           

removed delebrately

16
I am excited to learn Javascript

Q5) In the following list, using indexing:

1)Print out the value of the letter f

2)Print out the value of the letter o

3)Print out the value of the letter l

In [4]:
#letters = removed delebrately

print(letters[3][2])

print(letters[-1])

print(letters[6][2][1])

print(letters[-3][-2][-1])   #or this is also valid for Q3:

f
o
l
l

Q6) Create a list called fruits with mango, apple and banana in it. Then to that list:

1) Add papaya, pineapple, grapefruit, and lychee using a single command. Print out fruits at the end.

2) Then, add apricot to the list using concatenation instead of a function. Print out the fruits again after this.

In [18]:
fruits = ["mango" , "apple" , "banana"]

#removed delebrately

Q2_fruits = fruits + ["apricot"]
print (Q2_fruits)

['mango', 'apple', 'banana', 'papaya', 'pineapple', 'grapefruit', 'lychee']
['mango', 'apple', 'banana', 'papaya', 'pineapple', 'grapefruit', 'lychee', 'apricot']

Q7) Create a dictionary called wickets. 

1) https://www.espncricinfo.com/records/team/bowling-most-wickets-career/pakistan-7/test-matches-1
from this webpage, pick the top 5 bowlers and store their names and their wkts in the dictionary. 

2) Increment the wickets of any one name by 10 in the dictionary. Print updated dictionary

3) Add a sixth bowler and their wkts to the dictionary. Print updated dictionary.

In [29]:
wickets = {"Wasim Akram" : 414 , "Waqar Younus" : 373 , "Imran Khan" : 362 , "Danish Kaneria" : 261 , "Yasir Shah" : 244}

wickets["Wasim Akram"] += 10
print (wickets)

wickets["Abdul Qadir"] = 236
print(wickets)

{'Wasim Akram': 424, 'Waqar Younus': 373, 'Imran Khan': 362, 'Danish Kaneria': 261, 'Yasir Shah': 244}
{'Wasim Akram': 424, 'Waqar Younus': 373, 'Imran Khan': 362, 'Danish Kaneria': 261, 'Yasir Shah': 244, 'Abdul Qadir': 236}